.movie
  %p.name
    %i.icon-film
    The Hobbit
  %p.relase_date
    %i.icon-info-sign
    December 15, 2012

.rating
  %a.btn.btn-success
    Up
    %i.icon-thumbs-up.icon-white
  %a.btn.btn-danger
    Down
    %i.icon-thumbs-down.icon-white
  %a.btn.btn-warning
    Pass
    %i.icon-hand-right.icon-white

%table.critics.table.table-striped
  %thead
    %tr
      %th
        Ratings
      %th
        Critics
      %th
        Organization
  %tbody
    %tr
      %td
        10
        %i.icon-thumbs-up
        5
        %i.icon-thumbs-down
      %td
        Jim Zeller
      %td
        New York Times
  %tr
    %tr
      %td
        2
        %i.icon-thumbs-up
        1
        %i.icon-thumbs-down
      %td
        Rob Peterson
      %td
        Sun Times
  %tr
    %tr
      %td
        5
        %i.icon-thumbs-up
        3
        %i.icon-thumbs-down
      %td
        Ramblen Rod
      %td
        Portland Tribune


