- title "Browsing Critics"

%p#notice= notice
%hr
%table.movie.table-striped
  %thead
    %tr
      %th
        %i.icon-group
        Name
      %th
        %i.icon-book
        Publication
  %tbody
    - @critics.each do |critic|
      %tr
        %td= link_to critic.name, critic
        %td= critic.publication