- title @critic.name

%p#notice= notice
%hr
%p
  %strong Publication:
  = @critic.publication

%table.table-striped.reviews
  %thead
    %tr
      %th
        Rating
      %th
        %i.icon-film
        Movie
      %th
        %i.icon-book
        Review
  %tbody
  - @critic.critic_opinions.each do |opinion|
    %tr
      %td
        %i{ thumbs(opinion.like) }
      %td.span3= link_to opinion.title, opinion.movie
      %td
        %a{ href: opinion.url}
          =opinion.publication
          %sup
            %i.icon-external-link{style:'font-size:100%;'}
%br
%br

.btn-group
  %a.btn.btn-info{href:critics_path}
    %i.icon-chevron-left{style:'vertical-align:middle;'}
    %span{style:'vertical-align:middle;'}Back to Critics
