- title "Browsing Movies"

%p#notice= notice
%hr
%table.movie.table-striped
  %thead
    %tr
      %th.title
        %i.icon-film
        Title
      %th.year.span2.text-center
        %i.icon-calendar
        Year
      %th.description
        %i.icon-book
        Description
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to movie.title, movie
        %td.text-center= movie.year
        %td= movie.description.try(:truncate, 150, omission: '...')
