%h1 Listing movies
%hr
%table.movie.table-striped
  %thead
    %tr
      / %th Rt
      %th.rating
        Rating
      %th.title
        %i.icon-film
        Title
      %th.year
        %i.icon-calendar
        Year
      %th.description
        %i.icon-book
        Description
      %th
      %th
      %th
  %tbody
    - @movies.each do |movie|
      %tr
        / %td= movie.rt_id
        %td.user_rate
          / %a.btn.btn-success.up
          /   %i.icon-thumbs-up.icon-white
          / %a.btn.btn-danger.down
          /   %i.icon-thumbs-down.icon-white
          .btn-group{"data-toggle" => "buttons-radio"}
            %button.btn{"data-toggle" => "button", :type => "button"}
              %i.icon-thumbs-up
              %input{:name => "radio-btn-ctrl", :type => "radio", :value => "1"}
            %button.btn{"data-toggle" => "button", :type => "button"}
              %i.icon-thumbs-down
              %input{:name => "radio-btn-ctrl", :type => "radio", :value => "0"}
        %td= link_to movie.title, movie
        %td= movie.year
        %td= movie.description.try(:truncate, 150, omission: '...')

        / %td= link_to 'Edit', edit_movie_path(movie)
        / %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Movie', new_movie_path
