- title "Browsing Movies"

%hr
%table.movie.table-striped
  %thead
    %tr
      %th.title
        %i.icon-film
        Title
      %th.year
        %i.icon-calendar
        Year
      %th.description
        %i.icon-book
        Description
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to movie.title, movie
        %td= movie.year
        %td= movie.description.try(:truncate, 150, omission: '...')
        / %td= link_to 'Edit', edit_movie_path(movie)
        / %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Movie', new_movie_path
