<%= form_for(@critic_opinion) do |f| %>
  <% if @critic_opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critic_opinion.errors.count, "error") %> prohibited this critic_opinion from being saved:</h2>

      <ul>
      <% @critic_opinion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :like %><br>
    <%= f.text_field :like %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :critic_id %><br>
    <%= f.number_field :critic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
