---
http_interactions:
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies/10104/reviews.json?apikey=jxypaa7s2waqe6mzq7c9nda7&page_limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-38.mashery.com
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n{\"total\":8,\"reviews\":[{\"critic\":\"Owen
        Gleiberman\",\"date\":\"2011-09-07\",\"original_score\":\"B-\",\"freshness\":\"fresh\",\"publication\":\"Entertainment
        Weekly\",\"quote\":\"\",\"links\":{\"review\":\"http://www.ew.com/ew/article/0,,309135,00.html\"}},{\"critic\":\"\",\"date\":\"2008-10-18\",\"freshness\":\"none\",\"publication\":\"Variety\",\"quote\":\"\",\"links\":{\"review\":\"http://www.variety.com/review/VE1117791126.html?categoryid=31&cs=1\"}},{\"critic\":\"\",\"date\":\"2006-06-24\",\"freshness\":\"none\",\"publication\":\"Time
        Out\",\"quote\":\"\",\"links\":{\"review\":\"http://www.timeout.com/film/reviews/67083/fried_green_tomatoes_at_the_whistle_stop_cafe.html\"}},{\"criti[...]
