---
http_interactions:
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/lists/movies/upcoming.json?apikey=jxypaa7s2waqe6mzq7c9nda7&page_limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-35.mashery.com
    body:
      encoding: UTF-8
      string: |2
































        {"total":15,"movies":[{"id":"771315033","title":"How To Make Money Selling Drugs","year":2013,"mpaa_rating":"Unrated","runtime":96,"release_dates":{"theater":"2013-06-26"},"ratings":{"critics_score":-1,"audience_score":81},"synopsis":"A shockingly candid examination of how a street dealer can rise to cartel lord with relative ease, How to Make Money Selling Drugs is an insider's guide to the violent but extremely lucrative drug industry. Told from the perspective of former drug dealers, and featuring interviews with rights advocates Russell Simmons, Susan Sarandon, and David Simon (creator of \"The Wire\"), the film gives you the lessons you need to start your own drug empire while exposing the corruption behind the \"war on drugs.\" (c) Tribeca Films","posters":{"thumbnail":"http://content8.flixster.com/movie/11/17/15/11171522_mob.jpg","profile":"http://content8.flixster.com/movie/11/17/15/11171522_pro.jpg","detailed":"http://content8.flixster.com/movie/11/17/15/11171522_det.jpg","original":"http://content8.flixster.com/movie/11/17/15/11171522_ori.jpg"},"abridged_cast":[{"name":"50 Cent","id":"162655117"},{"name":"Susan Sarandon","id":"162654579"},{"name":"Woody Harrelson","id":"162654250"},{"name":"Arianna Huffington","id":"770715613"},{"name":"Freeway Rick Ross","id":"771061995"}],"alternate_ids":{"imdb":"1276962"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/771315033.json","alternate":"http://www.rottentomatoes.com/m/how_to_make_money_selling_drugs/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/771315033/cast.json","clips":"http://api.rottentomatoes.com/api/public/v1.0/movies/771315033/clips.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/771315033/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/771315033/similar.json"}},{"id":"771307102","title":"White House Down","year":2013,"mpaa_rating":"PG-13","runtime":137,"release_dates":{"theater":"2013-06-28"},"ratings":{"critics_score":-1,"audience_score":96},"synopsis":"The White House is under siege in this action thriller from Independence Day director Roland Emmerich and The Amazing Spider-Man's writer James Vanderbilt in this Sony Pictures release. Channing Tatum stars. ~ Jeremy Wheeler, Rovi","posters":{"thumbnail":"http://content8.flixster.com/movie/11/17/08/11170822_mob.jpg","profile":"http://content8.flixster.com/movie/11/17/08/11170822_pro.jpg","detailed":"http://content8.flixster.com/movie/11/17/08/11170822_det.jpg","original":"http://content8.flixster.com/movie/11/17/08/11170822_ori.jpg"},"abridged_cast":[{"name":"Channing Tatum","id":"162661835","characters":["Cale"]},{"name":"Jamie Foxx","id":"162652975","characters":["President Sawyer"]},{"name":"Maggie Gyllenhaal","id":"162663906","characters":["Finnerty"]},{"name":"Jason Clarke","id":"359854726","characters":["Stenz"]},{"name":"Richard Jenkins","id":"317606141","characters":["Raphaelson"]}],"alternate_ids":{"imdb":"2334879"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/771307102.json","alternate":"http://www.rottentomatoes.com/m/white_house_down/","cast":"http://api.rott[...]
