---
http_interactions:
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?Green&Tomatoes&apikey=jxypaa7s2waqe6mzq7c9nda7&page_limit=1&q=Fried
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      X-Mashery-Responder:
      - prod-j-worker-us-east-1c-34.mashery.com
    body:
      encoding: UTF-8
      string: |2






























        {"total":55,"movies":[{"id":"10104","title":"Fried Green Tomatoes","year":1991,"mpaa_rating":"PG-13","runtime":130,"release_dates":{"theater":"1991-12-27","dvd":"2000-04-18"},"ratings":{"critics_rating":"Fresh","critics_score":83,"audience_rating":"Upright","audience_score":88},"synopsis":"","posters":{"thumbnail":"http://content7.flixster.com/movie/10/88/22/10882269_mob.jpg","profile":"http://content7.flixster.com/movie/10/88/22/10882269_pro.jpg","detailed":"http://content7.flixster.com/movie/10/88/22/10882269_det.jpg","original":"http://content7.flixster.com/movie/10/88/22/10882269_ori.jpg"},"abridged_cast":[{"name":"Kathy Bates","id":"162660148","characters":["Evelyn Couch"]},{"name":"Jessica Tandy","id":"162660151","characters":["Ninny Threadgoode"]},{"name":"Mary Stuart Masterson","id":"162660149","characters":["Idgie Threadgoode"]},{"name":"Mary-Louise Parker","id":"162660150","characters":["Ruth Jamison"]},{"name":"Cicely Tyson","id":"162656917","characters":["Sipsey"]}],"alternate_ids":{"imdb":"0101921"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/10104.json","alternate":"http://www.rottentomatoes.com/m/fried_green_tomatoes/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/10104/cast.json","clips":"http://api.rottentomatoes.com/api/public/v1.0/movies/10104/clips.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/10104/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/10104/similar.json"}}],"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies.json?q=Fried&page_limit=1&page=1","next":"http://api.rottentomatoes.com/api/public/v1.0/movies.json?q=Fried&page_limit=1&page=2"},"link_template":"http://api.rottentomatoes.com/api/public/v1.0/movies.json?q={search-term}&page_limit={results-per-page}&page={page-number}"}
  recorded_at: Tue, 18 Jun 2013 22:43:20 GMT
recorded_with: VCR 2.5.0
