// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating i{
  font-size: 40px;
}

.description {
  width:500px;

  margin: 25px;
  margin-left:50px;
}
p.description_long {
  width:600px;
}
.artwork{
  padding:10px;
}
span.title{
  font-size: 18px;
  margin-left: 25px;

}
i.year{
  float:right;
  padding-right:20px;
}
.submit{
  margin:20px;
}
table.critics{
  width: 400px;
}
.reviews td {
  padding: 10px;
}
i{
  font-size: 20px
}



.down {
  margin: 10px 10px 10px 5px;
}

.up {
  margin: 10px 0px 10px 10px;
}



.user_rate i {
  font-size:  35px;
}
.unselected{
  // color: black;
}
.selected{
color: black;
  &:hover{
    color: black;
  }
}
div.btn-group[data-toggle=buttons-radio] input[type=radio] {
  display:    block;
  position:   absolute;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  opacity:    0;
}

