!!! html
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf8'}
    %title Movie Critic
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => 'Simon Wilkins <si.wilkins@sheffield.ac.uk'}
    / %link{:href => 'application.css', :rel => 'stylesheet'}
    = stylesheet_link_tag "application.css", controller.controller_name

  %body

    .container
      / %h1 Movie Critic Critic
      = yield

    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    / %script{:src => '../assets/js/bootstrap.min.js'}
    = javascript_include_tag :application,controller.controller_name
